.buttonIA {
    position: fixed;
    width: 140px;
    height: 140px;
    bottom: 20px;
    right: 20px; 
    border-radius: 999px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;
  }
  
  .iconRobotIA {
    fill: #ffffff;
  }

  .respuestaMarkdown {
    margin-top: 10px;
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto;
    font-size: 0.9rem;
  }

  .respuestaMarkdown ul {
    padding-left: 20px;
    margin: 0;
  }

  .chatInputArea {
    display: flex;
    gap: 8px;
    padding: 10px;
  }

  .chatInputArea button {
    width: 20%;
  }

  
  .inputChat {
    color: black;
    background-color: transparent;
    margin-bottom: 0px;
    border-radius: 0px;
    border: none; /* Elimina bordes predeterminados */
  }
  
  .disabled {
    pointer-events: none; /* Desactiva el clic en el botón */
    opacity: 0.6;         /* Cambia la opacidad para que parezca deshabilitado */
    cursor: not-allowed;   /* Cambia el cursor al pasar sobre el botón */
  }
  
  .chatWindow {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    width: 50em;
    height: 450px;
    background-color: rgb(0, 0, 0);
    border: solid 1px gray;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }

  
  .mensaje {
  display: inline-block;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
  max-width: 90%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.mensaje-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.mensaje-wrapper.derecha {
  justify-content: flex-end;
}

.mensaje-wrapper.izquierda {
  justify-content: flex-start;
}

.mensaje.user {
  background-color: #4d504e;
  text-align: right;
}

.mensaje.ia {
  background-color: #2ef34f;
  text-align: left;
}


  .chatHeader {
    background-color: #000000;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chatHeader button{
    width: 10%;
  }
  
  .chatBody {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    color: black;
  }
  
  .textChat{
    color: rgb(255, 255, 255);
  }
  
  .closeButton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .chatInputArea input {
    color: white;
  }
  
  .closeButton:hover {
    color: #ff0000;
  }
  
  body.light .iconRobotIA {
    fill: rgb(0, 0, 0);
  }
  
  body.light .chatWindow button {
    color: #000000;
  }
  
  body.light .iconRobotIA {
    fill: rgb(0, 0, 0);
  }


  body.light .chatInputArea input {
    color: rgb(0, 0, 0);
  }

  body.light .chatInputArea button {
    color: rgb(255, 255, 255);
  }

  body.light .chatBody {
    color: rgb(255, 255, 255);
  }

  body.light .chatHeader {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

  body.light .textChat{
    color: rgb(0, 0, 0);
  }

  body.light .chatWindow {
    background-color: rgb(255, 255, 255);
  }

  body.light .inputChat {
    background-color: transparent;
  }

body.light  .mensaje.user {
  background-color: #c0c7c2;

}

body.light .mensaje.ia {
  background-color: #55e1f3;

}

@media (max-width: 768px) {
.buttonIA {
    width: 80px;
    height: 80px;
    bottom: 60px;
    right: 80px; 
  }

    .chatWindow {
    width: 20em;
    height: 500px;
  }

}
