.texto-cambiar1, .texto-cambiar {
  font-weight: 500;
}

.texto-cambiar1 {
  color: rgb(42, 216, 79);
  font-size: 7em;
}

.texto-cambiar {
  color: white;
  font-size: 5em;
}

.texto-animated {
  display: inline-block; /* Mantener el contenedor en línea con otros elementos */
  min-width: 60em; /* Ajustar este valor según el texto más largo */
  min-height: 26em;
}

.TextoHomep {
  font-size: 1.5em;
  color: grey;
}

.containerHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
}

.containerHome img {
  height: 27em;
  border: 2px solid rgb(42, 216, 79);
  border-radius: 45em;
}

.botonesHome1, .botonesHome2 {
  border-radius: 2em;
  width: 12em;
  height: 3em;
  font-size: 1.3em;
  font-weight: 500;
  margin: 0.25em;
}

.botonesHome1 {
  background-color: rgb(42, 216, 79);
  border: none;
  color: white;
}

.botonesHome2 {
  background-color: transparent;
  border: 0.3em solid rgb(42, 216, 79);
  color: white;
}

.h5rebelde{
  color: white;
}

.divImg{
  display: flex;
  justify-content: flex-end;
}

.rowHome {
  display: flex;
  width: 100%;
}

.colHome {
  flex: 1 1 100%;
  padding: 1rem;
}

@media (max-width: 768px) {
  .rowHome {
    flex-direction: column;
    align-items: center;
  }

  .colHome {
    width: 100%;
    padding: 1em 0;
  }

  .divImg {
    order: 0; /* Imagen abajo del texto */
    justify-content: center;
    margin-top: 2em;
  }

  .colHome:first-child {
    order: 1;
    text-align: center;
  }

  .containerHome img {
    width: 80%;
    height: auto;
    margin-top: 1em;
    border-radius: 50%;
  }

  .texto-animated {
    min-height: auto;
    min-width: auto;
    display: block;
    min-height: 9em;
  }

  .texto-cambiar1 {
    font-size: 2.5em;
  }

  .texto-cambiar {
    font-size: 1.8em;
  }

  .TextoHomep {
    font-size: 1.1em;
    margin: 1em 0;
  }

  .botonesHome1, .botonesHome2 {
    width: 80%;
    height: 3em;
    font-size: 1em;
  }
}


body.light .h5rebelde {
  color: black;
}


body.light .texto-cambiar {
  color: rgb(0, 0, 0);
}

body.light .texto-cambiar1 {
  color: rgb(116, 236, 252);
}

body.light .img-fluid1 {
  border: solid 2px rgb(116, 236, 252);
}

body.light .botonesHome1 {
  background-color: rgb(116, 236, 252);
}

body.light .botonesHome2{
  border: 0.3em solid rgb(116, 236, 252);
}

body.light .botonesHome2 span,
body.light .botonesHome1 span{
  color: black;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.texto-animated .texto-cambiar {
  animation: fadeInOut 4s ease-in-out infinite;
}