.scroll-section {
  opacity: 0;
  transition: all 1s ease;
}

.scroll-section.left {
  transform: translate(-100px, 30px);
}

.scroll-section.right {
  transform: translate(100px, 30px);
}

/* Cuando el componente es visible, vuelve al centro con opacidad */
.scroll-section.visible {
  opacity: 1;
  transform: translateX(0);
}