.icon-dark-mode {
  fill: #ffffff; /* Color negro por defecto */
}

/* Estilo para tema oscuro */
body.light .icon-dark-mode {
  fill: #000000; /* Color blanco para el modo oscuro */
}

/* Botón de cambio de tema */
.theme-toggle-btn {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 110px;
  right: 20px;
  border-radius: 999px;
  background-color: #000000; /* Verde por defecto */
  border: none;
  cursor: pointer;
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}

.theme-toggle-btn:hover {
  background-color: rgb(131, 131, 131);
}

/* Estilo del botón en el tema claro */
body.light .theme-toggle-btn {
  background-color: rgb(255, 255, 255); /* color del botón en tema claro */
}

body.light .theme-toggle-btn:hover {
  background-color: rgb(107, 107, 107);
}