body {
    background-color: black;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
  }
  
  /* Tema claro */
  body.light {
    background-color: white;
    color: black;
  }