@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
  }
  
  /* Tema claro */
  body.light {
    background-color: white;
    color: black;
  }