.containerAbout{
    display: flex;
    justify-content: space-between;
    margin-bottom: 9em;
}

.containerAbout img {
    width: 35em;
    height: 33em;
    margin-right: 2em;
    object-fit: cover; /* Ajusta la imagen manteniendo la relación de aspecto y cubriendo el contenedor */
    object-position: center; /* Posición centrada de la imagen dentro del contenedor */
}

.tabs-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .tabs {
    display: flex;
  }
  
  .tab-btn {
    background-color: transparent;
    position: relative;
    padding-bottom: 10px; /* Espacio para la línea debajo del texto */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .tab-btn.active::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px; /* Grosor de la línea */
      background-color: rgb(42, 216, 79); /* Color de la línea */
  }
  
  .tab-content {
    padding: 20px;
    margin-top: 10px;
  }

  p, button, h3, h2 {
    color: white;
  }

  .skills-list {
    display: flex;
}

.skills-columns {
    flex: 1; /* Para que cada columna ocupe el mismo espacio */
    padding: 0 1em; /* Espacio entre las columnas */
}

/* Estilos opcionales para mejorar la apariencia */
.skills-columns li {
    margin-bottom: 0.5em;
}

.tab-content li{
  color: grey;
}

body.light   .tab-btn.active::after {
  background-color: rgb(116, 236, 252); /* Color de la línea */
}

body.light p, button, h3, h2, h5 {
  color: rgb(0, 0, 0);
}  

body.light .h3personzalizado {
  color: rgb(0, 0, 0);
}
