.texto-cambiar1, .texto-cambiar {
  font-weight: 500;
}

.texto-cambiar1 {
  color: rgb(42, 216, 79);
  font-size: 7em;
}

.texto-cambiar {
  color: white;
  font-size: 5em;
}

.icon-dark-mode {
  fill: #ffffff; /* Color negro por defecto */
}

/* Estilo para tema oscuro */
body.light .icon-dark-mode {
  fill: #000000; /* Color blanco para el modo oscuro */
}

.texto-animated {
  display: inline-block; /* Mantener el contenedor en línea con otros elementos */
  min-width: 60em; /* Ajustar este valor según el texto más largo */
  min-height: 26em;
}

.TextoHomep {
  font-size: 1.5em;
  color: grey;
}

.containerHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32em;
  margin-bottom: 9em;
}

.containerHome img {
  height: 20em;
  border: 2px solid rgb(42, 216, 79);
  border-radius: 45em;
  margin-left: 5em;
}

.botonesHome1, .botonesHome2 {
  border-radius: 2em;
  width: 12em;
  height: 3em;
  font-size: 1.3em;
  font-weight: 500;
  margin: 0.25em;
}

.botonesHome1 {
  background-color: rgb(42, 216, 79);
  border: none;
  color: white;
}

.botonesHome2 {
  background-color: transparent;
  border: 0.3em solid rgb(42, 216, 79);
  color: white;
}

.h5rebelde{
  color: white;
}

.divImg{
  display: flex;
  justify-content: flex-end;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .containerHome {
    flex-direction: column;
    height: auto;
    margin-bottom: 4em;
  }
  
  .texto-animated {
    min-height: 10em; /* Reducir la altura mínima para pantallas pequeñas */
    min-width: auto; /* Permitir que el ancho se ajuste dinámicamente en pantallas pequeñas */
  }

  .containerHome img {
    height: auto;
    width: 100%;
    margin-left: 0;
    margin-top: 1em;
    border-radius: 50%;
  }

  .texto-cambiar1 {
    font-size: 3em;
  }
  
  .texto-cambiar {
      font-size: 2em;
  }
  
  .TextoHomep {
      font-size: 1.2em;
  }

  .containerHome .botonesHome1,
  .botonesHome2 {
    width: 100%;
      margin-bottom: 1em;
  }
  
  .botonesHome1 span,
  .botonesHome2 span {
      font-size: 1em;
    }
}

/* Botón de cambio de tema */
.theme-toggle-btn {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 110px;
  right: 20px;
  border-radius: 999px;
  background-color: #000000; /* Verde por defecto */
  border: none;
  cursor: pointer;
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}

.theme-toggle-btn:hover {
  background-color: rgb(131, 131, 131);
}

body.light .h5rebelde {
  color: black;
}

/* Estilo del botón en el tema claro */
body.light .theme-toggle-btn {
  background-color: rgb(255, 255, 255); /* color del botón en tema claro */
}

body.light .theme-toggle-btn:hover {
  background-color: rgb(107, 107, 107);
}

body.light .texto-cambiar {
  color: rgb(0, 0, 0);
}

body.light .texto-cambiar1 {
  color: rgb(116, 236, 252);
}

body.light .img-fluid1 {
  border: solid 2px rgb(116, 236, 252);
}

body.light .botonesHome1 {
  background-color: rgb(116, 236, 252);
}

body.light .botonesHome2{
  border: 0.3em solid rgb(116, 236, 252);
}

body.light .botonesHome2 span,
body.light .botonesHome1 span{
  color: black;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.texto-animated .texto-cambiar {
  animation: fadeInOut 4s ease-in-out infinite;
}