.navbar-custom .navbar-nav .nav-link:hover {
    color: rgb(42, 216, 79) !important; /* Color de texto al pasar el mouse */
}
 
  /* Estilos para la barra de navegación */
.navbar {
  background-color: rgba(0, 0, 0, 0.1); /* Color semitransparente */
  backdrop-filter: blur(10px); /* Aplica el desenfoque */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.nav-link1{
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3em;
}


.navbar-nav-right {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav-link:hover, .nav-link1:hover{
  color: #3ee038;
}

/* Estilos para el botón "toggler" en pantallas pequeñas */
.navbar-toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.navbar-toggler-icon {
  width: 40px;
  height: 40px;
  display: block;
  margin: 5px 0;
}

.navbar-collapse {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

/* Responsivo */
@media (max-width: 768px) {
  .navbar-toggler {
      display: block;
  }

  .navbar-collapse {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .navbar-toggler.active + .navbar-collapse {
      display: flex;
  }
  
  .navbar-nav, .navbar-nav-right {
      flex-direction: column;
      gap: 10px;
  }
}

body.light .nav-link1, body.light .nav-link{
  color: #000000;
}
body.light .nav-link1:hover, body.light .nav-link:hover{
  color: rgb(116, 236, 252);
}