.card1 {
    margin: 0.5em;
}

.icono-btn{
    width: 1.7em;
}

.cards-container .card .btn {
    font-size: 13px;
    margin: 2px;
    width: 99px;
    height: 35px;
}

.cards-container .card .iconY {
    border: solid 1px red;
    color: red;
  }

  .cards-container .card .iconG {
    border: solid 1px black;
}

.cards-container .card .iconY:hover {
    background-color: rgb(243, 92, 92); /* Color de fondo cuando se pasa el cursor */
  }

  .cards-container .card .iconD:hover {
    background-color: rgb(142, 227, 241); /* Color de fondo cuando se pasa el cursor */
  }

  .cards-container .card .iconD {
    color: rgb(12, 207, 241);
   border: solid 1px rgb(12, 207, 241);
  }