.buttonIA {
    position: fixed;
    width: 140px;
    height: 140px;
    bottom: 20px;
    right: 20px; 
    border-radius: 999px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;
  }
  
  .iconRobotIA {
    fill: #ffffff;
  }
  
  .inputChat {
    color: black;
    background-color: transparent;
    margin-bottom: 0px;
    border-radius: 0px;
    border: none; /* Elimina bordes predeterminados */
  }
  
  .disabled {
    pointer-events: none; /* Desactiva el clic en el botón */
    opacity: 0.6;         /* Cambia la opacidad para que parezca deshabilitado */
    cursor: not-allowed;   /* Cambia el cursor al pasar sobre el botón */
  }
  
  .chatWindow {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    width: 300px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    border: solid 1px gray;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }
  
  .chatHeader {
    background-color: #000000;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chatBody {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    color: black;
  }
  
  .textChat{
    color: rgb(255, 255, 255);
  }
  
  .closeButton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .closeButton:hover {
    color: #ff0000;
  }
  
  body.light .iconRobotIA {
    fill: rgb(0, 0, 0);
  }

  body.light .chatBody {
    color: rgb(255, 255, 255);
  }

  body.light .chatHeader {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

  body.light .textChat{
    color: rgb(0, 0, 0);
  }

  body.light .closeButton {
    color: rgb(0, 0, 0);
  }

  body.light .chatWindow {
    background-color: rgb(255, 255, 255);
  }

  body.light .inputChat {
    background-color: transparent;
  }